* {
  font-family: "Nunito Sans", sans-serif;
}
a:hover {
  text-decoration: none;
}
link:hover {
  text-decoration: none;
}
.card-dark {
  background-color: hsl(209, 23%, 22%);
}
.card-light {
  background-color: hsl(0, 0%, 100%);
}
.card-dark:focus {
  background-color: hsl(209, 23%, 22%);
}
.card-light:focus {
  background-color: hsl(0, 0%, 100%);
}
.secondary-text {
  color: hsl(0, 0%, 52%);
}

.selected-light > input {
  color: hsl(200, 15%, 8%);
}
.textlight {
  color: hsl(200, 15%, 8%);
}
.textdark {
  color: hsl(0, 0%, 100%);
}
.textlight:focus {
  color: hsl(200, 15%, 8%);
}
.textdark:focus {
  color: hsl(0, 0%, 100%);
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.brand {
  font-weight: 800;
  font-size: 20px;
}
#navbar-light {
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid lightgrey;
}
#navbar-dark {
  background-color: hsl(209, 23%, 22%);
  padding-left: 50px;
  padding-right: 50px;
}
button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
button:focus {
  outline: none;
}
.formControl {
  border: none;
  border-color: transparent;
  box-shadow: none;
  border-radius: 5px;
  appearance: none;
}
.formControl:focus {
  border-color: transparent;
  box-shadow: none;
}
#basic-addon1 {
  border: none;
  background-color: transparent;
}
.input-group {
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.form-group {
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.form-group:focus {
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  #navbar-light {
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
  }
  #navbar-dark {
    background-color: hsl(209, 23%, 22%);
    padding-left: 10px;
    padding-right: 10px;
  }
}
